<body class="main">
 
<ul style="float:right;list-style-type:none;">
	  <li><a class="active" href="/">Home</a></li>
	  <li><a href="/portfolio/about">About</a></li>
	  <li><a href="/portfolio/projects">Projects</a></li>
	  <li><a href="/portfolio/contact">Contact</a></li>
</ul>


	<div class="test_box">
		<h5> 
			<!-- <b>Portfolio</b>: <%=@portfolio%> <br/>
			<b>Johda</b>: <%=@johda%> <br/>
			<b>HighFive</b>: <%=@highfive%> <br/>
			<b>Not iMessage</b>: <%=@not_imessage%> <br/>
			<b>Maps</b>: <%=@maps%> -->
			Test
		</h5>

	</div>





</body>