<body class="main">

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/portfolio/view">Views</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="#login">Login</a></li>
</ul>

	<div class="test_box">
		<h5> 
			<b>Portfolio</b>: <%=@portfolio%> <br/>
			<b>Johda</b>: <%=@johda%> <br/>
			<b>HighFive</b>: <%=@highfive%> <br/>
			<b>Not iMessage</b>: <%=@not_imessage%> <br/>
			<b>Maps</b>: <%=@maps%>
		</h5>

	</div>






</body>